<section class="section">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Daftar Aktivitas</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <form
                                action="/dashboard/{{.Level}}/pengguna/{{.Pengguna}}/"
                                class="d-flex gap-1  w-50"
                            >
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Cari"
                                    name="q"
                                />
                                <input
                                    type="hidden"
                                    name="page"
                                    value="{{.Page}}"
                                />
                                <select name="periode" class="form-control" name="periode">
                                    <option value="">Pilih Periode</option>
                                    {{range .PeriodeAll}}
                                        <option value="{{.IdPeriode}}" {{if eq $.Periode .IdPeriode}}selected{{end}}>{{.NamaPeriode}}</option>
                                    {{end}}
                                </select>
                                <button type="submit" class="btn btn-primary">
                                    <span class="bi bi-search"></span>
                                </button>
                            </form>
                            {{if ne .Periode ""}}
                            <a href="/print/{{.Pengguna}}/{{.Periode}}" target="_blank" class="btn btn-success">
                                <span class="bi bi-printer"></span>
                            </a>
                            {{end}}
                        </div>
                        <div class="table-responsive">
                            <table class="table table-lg">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Tanggal</th>
                                        <th>Tupoksi</th>
                                        <th>Deskripsi</th>
                                        <th>Catatan</th>
                                        <th>Waktu Pengerjaan</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{range $i, $aktivitas := .Result}}
                                    <tr>
                                        <td class="text-bold-500">{{add (add $i 1) $.Offset}}</td>
                                        <td class="text-bold-500">
                                            {{$aktivitas.Tanggal}}
                                        </td>
                                        <td class="text-bold-500">
                                            {{$aktivitas.Nama}}
                                        </td>
                                        <td class="text-bold-500">
                                            {{$aktivitas.Deskripsi}}
                                        </td>
                                        <td class="text-bold-500">
                                            {{$aktivitas.Catatan}}
                                        </td>
                                        <td>
                                            {{$aktivitas.WaktuPengerjaan}}
                                        </td>
                                        <td class="text-bold-500">
                                            {{$aktivitas.Status}}
                                        </td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-center gap-1">
                            {{if lte .Page 1}} {{else}}
                            <a
                                class="btn btn-secondary"
                                href="/dashboard/{{.Level}}?q={{.Query}}&page={{.Previous}}"
                                >Previous</a
                            >
                            {{end}}
                            <button class="btn btn-primary">{{.Page}}</button>
                            {{if .HasNext}}
                            <a
                                class="btn btn-secondary"
                                href="/dashboard/{{.Level}}?q={{.Query}}&page={{.Next}}"
                                >Next</a
                            >
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
